
.page-container{
    height:100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-container{
    flex-grow:1;
    display: flex;
    background-color: white;
}